p{
    font-family: Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 0;
}

.user{
    vertical-align: top;
    width: 400px;
}

.profile-picture{
    display: inline-block;
    width: 75px;
    margin-right: 0;
}

.pfp{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.info{
    display: inline-block;
    width: 200px;
    margin-left: 0;
}

.name{
    font-weight: bold;
}

.btn-container {
    display: inline-block;
    width: 100px;
    margin-left: 0;
    vertical-align: top;
}

.follow-button{
    background-color: #1DA1F2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 12px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    width: 75px;
    margin-left: 0;
    margin-top: 20px;
    transition: background-color 0.2s ease-in-out;
}

.follow-button:hover{
    background-color: #0c85d0;
}