
.first-name, .last-name{
    display: inline-block;
    width: 100px;
    margin-right: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}

.email{
    display: block;
    width: 230px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sign-up-button{
    background-color: #3399CC;
    color: #fff;
    border: none;
    padding: 15px;
    width: 250px;
    border-radius: 10px;
    font-weight: bold;
}

.sign-up-button:hover{
    background-color: #2288BB;
}

