div{
    font-family: Arial, sans-serif;
}

.tweet{
    display: flex;
    flex-direction: row;
    width: 420px;
    margin-top: 10px;
    margin-left: 20px;
}

.profile-container{
    margin-right: 10px;
}

.profile-picture{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
}

.tweet-info{
    flex: 1;
}

.tweet-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.tweet-name{
    font-weight: bold;
    margin-right: 5px;
}

.tweet-username{
    color: rgb(111,111,111);
}

.tweet-text{
    line-height: 20px;
    margin-bottom: 15px;
}

.tweet-video{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(200,200,200);
    border-radius: 15px;
    overflow: hidden;
}

.video-container{
    background-color: #c7c7c7;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.video-info{
    flex: 1;
}

.video-domain{
    color: rgb(111,111,111);
    margin-bottom: 3px;
}

.video-title{
    line-height: 22px;
}